@media screen and (min-width:1251px){
  .main-header {font-size: 5.2rem;}
  .nav-bar{font-size: 1.5rem; height: 4rem;} 
  .sub-nav-items li a {font-size: 1rem;}
  .hover-underline-animation:after{bottom:12px}
  .nav-logo .hover-underline-animation:after { bottom: 16px;}
  .head-content p {
    font-size: 1.7rem;
    line-height: 38px;
}
  .elementary .img-wrapper {
    width: 50%;
    background-size: cover;
    background-image: linear-gradient(90deg, rgba(234,234,234,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%), url(./assets/kids.jpg);
}
  .quote-section {height:500px;}
  .quote-photo{height: inherit;}
  .quote-container{
    padding:10%;
    top:0;
    bottom: 0;
  }
  .quote{font-size: 3rem;}
  textarea {width: 80%;}
  .programs p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1250px) {
.flex-container{padding:1rem 5% ;}
}
.sub-nav-items {top:4rem;}
.sub-nav-items li{margin:0; padding:0 1rem;}
.sub-nav-items li a {padding: 0;}
.hover-underline-animation:after{bottom:16px}
.program-descript{width:75%}

.card-cover .sub-header {
  margin-top: 20px;
}
@media screen and (max-width: 1000px) {
    .home-sub{display: block;}
    .nav-bar li.menu-items {display: none;}
    .nav-bar .icon {
      display: block;
    }
    .nav-bar.responsive li.menu-items {
        z-index: 100;
        display: flex;
    }
    .nav-bar.nav-bar.responsive .menu{
        position: absolute;
        top: 4rem;
        right: 0;
        background: #839fe2f0;
        width: 201px;
        padding: 0 1rem;
        text-align: left;
        z-index: 100;
        float: none;
        display: block;
        text-align: left;
        }
    .nav-bar li:hover .sub-nav-items{
        display: none;
    }
    
    .elementary .img-wrapper {
      background-size: contain;
      background-image: linear-gradient(90deg, rgba(234,234,234,0) 0%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%), url(./assets/kids.jpg);
    }
    .programs p {
      font-size: 1.2rem;
    }
    .program-descript{width:95%}
    .cards {
      position: relative;
      top: 0;
      height: 715px;
    }
    .card-cover{display: none;}
    .feature-card{
      transition: all .2s ease-in;
    }
    .feature-card:hover{
      transform: translateY(-10px);
    }
    .contact {
      width: 60%;
    }
    .modal{
      padding:20% 10%;
    }
    
  }

  @media screen and (max-width: 825px) {
    .container{padding: 0 0.5rem;}
    .long{display: none;}
    .short{display: inline-block;}
    
    .pre-school-info {
      margin-left: 1rem;
      margin-top: 2rem;
    }
    
    .programs h4{
      font-size: 2rem;
    }
    .programs h5{
      font-size: 1.5rem;
    }
    .elementary .img-wrapper {
      background-size: cover;
    }
    .elementary-info {
      margin-right: 1rem;
      margin-top: 2rem;
    }
    .program .scale-down{font-size: 4rem;}
    .montessori div, .traditional div{ font-size: 1.1rem;}
    .comparison-points{padding: 0; gap: 0.5rem;}
    #calender iframe{
      width: 90vw;
      height: calc(90vw * 1.4142);
    }
    .flex-container {
      padding: 1rem 2rem;
    }
    .years-badge{
      width:115px;
    }
    footer {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .btn-container{
      top:90%;
      left: 0;
      right: 0;
    }
    .modal-dialog{
      padding: 1rem;
    }
    .modal{
      padding: 20% 5%;
    }
    .value-statement{
      font-size: 2.4rem;
    }
    .photo-overlay{
      height: auto;
    }
    .quote-photo{
      height: 300px;
    }
    .quote-section{
      height: 300px;
    }
    .quote {
      font-size: 1.5rem;
    }
    .author {
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width:550px) {
    .nav-bar .nav-logo{display: none;}
    .nav-bar .phone-nav { margin-left: auto;}
    .nav-bar {gap:0}
    .main-header {
      font-size: 3rem;
    }
    .pre-school{
      height: max-content;
    }
    .pre-school-info {
      position: relative;
      width: 99%;
      margin: 2rem 0.5rem -5rem;
      margin-right: 1rem;
    }
    .pre-school .img-wrapper{
      width: 93%;
      background-size: contain;
      margin: 0 1rem;
      background-image: url(./assets/eating-snack.jpg);
    }
    .elementary .img-wrapper{
      width: 93%;
      background-size: contain;
      margin: 0 1rem;
      background-image: url(./assets/kids.jpg);
    }
    .elementary{
      height: max-content;
    }
    .elementary-info{
      position: relative;
      width: 95%;
      margin: -4rem 0.5rem;
      margin-right: 1rem;
    }
    .program .scale-down{font-size: 3.3rem;}
    .montessori div, .traditional div{ 
      padding: 4%;
      height: 185px;
    }
    .montessori h5, .traditional h5{font-size: 1.5rem;}
    .mission-statements {
      gap: 1rem;
    }
    .contact-section .contact {
      width:100%;
    }
    .modal-header{
      gap: 1rem;
    }
    .modal-header h3{
      font-size: 1.2rem;
    }
    .value-statement{
      font-size: 2rem;
    }
    .responsive-space{
      display: none;
    }
  }

  @media screen and (max-width:489px) {
    .img-wrapper{
      width: 100%;
    }
    .modal-header i {
      font-size: 2rem;
    }
    .img-caption{
      font-size: 1rem;
      margin: 1rem 1rem 3rem;
    }
    .btn-container{
      top: 100%;
    }
    .modal-dialog{
      padding:1rem 0.5rem;
    }
    .head-content {
      padding: 30px 2% 0;
    }
    .head-content p{
      font-size: 1rem;
    }
    .head-content h4 {
      font-size: 2.5rem;
    }
    .head-overlay{top:15%;}
    .cards {
      height: 1515px;
    }
    .mission-statements {
      display: block;
    }
    .btn {
      font-size: 1.5rem;
    }
    .photo-1{
      background-image: none;
    }
    .photo-overlay{
      top:0;
      bottom:0;
    }
    .program .scale-down{font-size: 2.8rem;}
    .sub-header{font-size: 3.5rem;}
  }
  