:root {
    /* Colors */
    --white:#ffffff;
    --black:#1e2022;

    --blue: #2C4B92; 	
    --dark-blue: #132651; 	
    --light-blue: #839fe2; 	

    --yellow: rgb(247, 201, 17) ;
    --light-yellow: #FFFD84;	

    --red: #b90900 ;	
    --light-red: #ff3329 ;
    --dark-red: #791712;

}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight:200;
    line-height: 1;
    letter-spacing: 0;
    color: var(--grey-main);
    margin:0;
    padding:4rem 0 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

p {margin-top:0;}

ul {
    padding:0;
    margin:0;
    list-style:none;
}

img{
    width:100%;
    max-width:100%;
    vertical-align: middle;
    border-style: none;
}
h1, h2, h3, h4, h5{
    margin:0;
}

.container { 
    margin-left:auto;
    margin-right:auto;
    width:100%;
    padding-right:1rem;
    padding-left:1rem;
    
}
.btn {
    margin: 1rem 0;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 200;
    border: none;
    color: white;
    transition: all 0.2s ease-in;
}
.btn:hover {
    opacity:0.8;
    transform: scale(1.02);
    cursor: pointer;
}

.floating-btn {
    position: fixed;
    right: -112px;
    bottom: 245px;
    width: max-content;
    height: 92px;
    z-index: 500;
    background: var(--dark-blue);
    border-radius: 10px;
    text-transform: uppercase;
    padding: 1rem;
    transform: rotate(270deg);
    font-weight: 400;
    font-size: 1.2rem;
}
/* Nav Bar */

.nav-bar {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    display: flex;
    padding: 0rem 1rem 0 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background: var(--dark-blue);
    color: var(--white);
    font-weight: 500;
    font-size: 1.2rem;
    z-index: 500;
}
.nav-bar li:hover {
    cursor: pointer;

}
.nav-bar li{
    position: relative;
    padding-top: 1rem;
    height: 3rem;
}
.nav-bar li a{
    color:white;
    text-decoration-color: var(--red);
}
.nav-bar .phone-nav{
    margin-right: auto;
    color: var(--white);
}
.nav-bar .phone-nav:hover{
    cursor:default;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--red);
}
.fa-globe {
    color: white;
    font-size: 2rem;
    width: 1rem;
    height: 3rem;
}
.nav-logo .sub-text{
    font-size: 0.7rem;
}
.logo {
    width:50px;
    height:50px;
}
.sub-nav-items {
    display: none;
    position: absolute;
    top:3rem;
    left:0rem;
    background: var(--light-blue);
    width: max-content;
    text-align: left;
    z-index: 100;
}
.nav-bar li:hover .sub-nav-items{
    display: block;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
}
.nav-logo .hover-underline-animation:after {
    bottom: -3px;
}
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 6px;
    left: 0;
    background-color: var(--red);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.active:after {
    content: '';
    display: inline-block;
    position: relative;
    transform: scaleX(1);
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 6px;
    left: 0;
    background-color: var(--red);
    transform-origin: bottom right;
}
.sub-nav-items:hover{
    display: block;
}
.sub-nav-items li {
    padding: 1rem;
    margin:0rem;
    height: auto;
}
.sub-nav-items li:hover {
    background-color: var(--blue);
}
.sub-nav-items li a {
    color: white;
    text-align: left;
    font-size: 0.8rem;
}
.nav-bar .nav-logo {
margin-right: auto;
font-size: 1.6rem;
font-weight: 300;
padding-top: 0.5rem;
}
.nav-bar .icon {
    display: none;
    position: relative;
}
li.icon{
    font-size: 2rem;
    padding-top: 0.5rem;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}
.short{display: none;}
.home-sub{display: none;}
/* head banner */
.header {
    overflow: hidden;
}
.head-banner {
    background-image: url(./assets/color-map.jpg);
    width:100vw;
    height:750px;
    background-size: cover;
    animation: slide 200s linear infinite;
}

@keyframes slide{
    0% {
		background-position: 0px 0px;
	}
    100% {
		background-position: 6274px 0px;
	}
  }

.head-overlay{
    width: 100%;
    background: #000000ab;
    position: absolute;
    top: 10%;
    height: max-content;
}

.head-content {
    text-align: center;
    color: white;
    width: 100%;
    height: max-content;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 10% 0px;
}
.head-content h4 {
    font-family: 'Sacramento', cursive;
    color: #ffdd00;
    font-size: 3.5rem;
    font-weight: 200;
    margin-bottom: 1.5rem;
}
.main-header {
    font-size: 4rem;
    margin-bottom: 1rem;
}
.sub-header {
    font-family: 'Sacramento', cursive;
    font-weight: 200;
    font-size: 4rem;
    padding:1rem;
    background: var(--red);
    color: white;
    text-align: center;
}
.mission-statements {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.head-content p {
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 0.3px;
    line-height: 22px;
}
/* cards */
.cards {
    width: 100%;
    height: 250px;
    margin-top: 1rem;
    position: relative;
    /* background: ; */
    background: linear-gradient(8deg, rgba(19,38,81,1) 0%, rgba(23,91,246,1) 100%);
}
.card-holder {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:3rem;
    width:100%;
    position: absolute;
    top:-5rem;
    z-index: 0;
}
.feature-card {
    width:200px;
    height: 350px;
    overflow: hidden;
    color:white;
    border-radius: 5px;
    padding:1rem;
    transition: all .4s ease-in;
    box-shadow: 0px 20px 20px 10px #0000007a;
}
.feature-card:hover{
    transform: translateY(-150px);
    overflow: visible;
}
.card-cover {
    width: 100%;
    /* background: var(--light-blue); */
    background: linear-gradient(8deg, rgba(19,38,81,1) 0%, rgba(23,91,246,1) 100%);;
    height: 182px;
    position: absolute;
    bottom: 0rem;
}
.card-cover .sub-header  {
    margin-top: 50px;
}
.icon-wrapper {
    color: white;
    text-align: center;
    font-size: 4rem;
    margin: 1rem 0;
}
.feature-1 {
    background-color: rgb(247, 201, 17);
}
.feature-2 {
    background-color: rgb(2, 170, 185);
}
.feature-3 {
    background-color: rgb(79, 202, 70);
}
.feature-4 {
    background-color: rgb(247, 59, 75);
}
.feature-card h5 {
    font-size:1.3rem;
    font-weight: 700;
    text-align: center;
}
.feature-card p {
    font-size: 1rem;
    font-weight: 400;
    margin-top:1rem;
    line-height: 18px;
}
/* white space */
.white-space{
    background: white;
    height: 100px;
    position: relative;
}
/* dots */
.dots {
    text-align: center;
    padding: 0 5%;
}
.dots-header {
    font-size: 3rem;
}
.dots-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
    gap: 1rem;
}
.dots-letter h1{
    font-size: 5rem;
    color: var(--dark-red);
}
.dots-letter span{
    margin-top: 1rem;
    display: block;
    font-size: 2rem;
}
.dots-btn {
    background-color: var(--yellow);
}
/* credentials */
.credentials {
    position: relative;
}
.value-statement {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
    color: #00000094;
    font-weight: 300;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10%;
    height: max-content;
    background: rgb(255, 255, 255);
    z-index: 20;
    width: 100%;
    position: relative;
}
.flex-container img{
    width:250px;
}
.years-badge {
    margin:auto;
    width:150px;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom:0;
    z-index: 100;

}
/* what-is-montessori */
#what-is-montessori h3{
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
    color: var(--dark-blue);
}
#what-is-montessori iframe{
    margin-top: 3rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width:80%;
    height:50vh;
    border-radius: 10px;
}
/* #what-is-montessori h4{
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    color: var(--blue);
} */
.comparison-points {
    width:500px;
    padding: 1rem;
    border-radius: 30px;
    background-color: #f1f1f1;
}

.traditional, .montessori {
    text-align: center;
}
.traditional h5 {
    font-size: 1.5rem;
    color: var(--red);
}
.montessori h5 {
    font-size: 1.5rem;
    color: var(--blue);
}
.traditional div {
    margin: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
}
.montessori div {
    margin: 1rem;
    font-size: 1.4rem;
    font-weight: 300;
}

.compare-grid {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.comparison-points {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* quote section */

.quote-section {
    background-color: white;
    height: 400px;
    width: 100%;
    position: relative;
    
}
.quote-photo {
    width:100%;
    height:400px;
}
.photo-1{
    background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255,0) 95%, rgba(255,255,255,1) 100%), url(./assets/child-eyes.jpg);
    background-position: bottom;
    background-size: cover;
}
.photo-2{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255,0) 95%, rgba(255,255,255,1) 100%), url(./assets/kids-with-letters.jpg);
    background-position: top;
    background-size: cover;
}
.photo-3{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255,0) 95%, rgba(255,255,255,1) 100%), url(./assets/stacking-blocks.jpg);
    background-position: center;
    background-size: cover;
}
.photo-overlay{
    width: 100%;
    /* height: 400px; */
    background-color: #13265177;
    position: absolute;
    top: 85px;
    bottom: 85px;
}
.quote-container {
    position: absolute;
    width:100%;
    padding:100px 10%;
    color:white;
    z-index: 10;
    top:1rem;
}
.quote{
    font-size: 2rem;
    font-weight: 300;
}
.author {
    margin-top:2rem;
    font-size: 2rem;
    font-weight: 500;
}
/* Pre-school */
.pre-school {
    width: 100%;
    height:600px;
    background: var(--white);
    position: relative;
}
.pre-school .img-wrapper {
    width: 100%;
    height: 600px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(270deg, rgba(234,234,234,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%), url(./assets/eating-snack.jpg);
    background-color: white;
    /* -webkit-clip-path: polygon(36% 0, 100% 0%, 100% 100%, 58% 100%);
    clip-path: polygon(36% 0, 100% 0%, 100% 100%, 58% 100%); */
}
.pre-school-info {
    margin-left: 3rem;
    margin-top: 5rem;
    text-align: left;
    position: absolute;
    width: 40%;
    color: var(--dark-blue);
}
.pre-k-btn {
    background: var(--dark-blue);
}

/* elementary */
.elementary {
    width: 100%;
    height:600px;
    background: var(--white);
}
.elementary .img-wrapper {
    width: 100%;
    height: 600px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: linear-gradient(90deg, rgba(234,234,234,0) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%), url(./assets/kids.jpg);
    background-color: white;
}
.elementary-info {
    margin-right: 3rem;
    margin-top: 5rem;
    text-align: right;
    right: 0;
    position: absolute;
    width: 40%;
    color: var(--dark-red);
}
.programs h4 {
    font-size: 3rem;
}
.programs h5 {
    font-size: 2rem;
    margin-top: 1rem;
}
.programs p {
    font-size: 1.4rem;
    margin-top: 3rem;
    font-weight: 300;
}
.elementary-btn {
    background-color: var(--dark-red);
}
/* cirriculum */
.program-descript {
    text-align: center;
    width: 50%;
    font-size: 1.5rem;
    margin: 2rem auto;
}
.program  {
    margin: 1rem auto;
}
.program h4{
    font-size: 2rem;
}
.program .flex-container{
    font-size: 1.3rem;
}
.intro {
    text-align: center;
    font-weight: 600;
}
.bullet{
    margin:1rem 0;
}
.disclosure {
    font-weight: 300;
    margin:1rem;
}
.focus-areas{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    gap: 2rem;
}
/* photo gallery */
.item1{
    width: 300px;
}
.photos {
    display: flex;
    gap: 1rem;
    height: 600px;
    width:100%;
    margin: 3rem 1rem;
    
}
.photos div img{
    object-fit: contain;
    overflow: hidden;
}
/* contact */
.contact-section {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 10%, rgba(4, 8, 48, 0.685) 100%), 
    url(./assets/school-supplies.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 0;
    height: max-content;
    position: relative;
}
.contact{
    text-align: center;
    border-radius: 30px;
    width: 50%;
    padding: 1rem;
    margin: auto;
}

.contact h5 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--dark-blue);
}
.contact h3 {
    font-size: 3rem;
    color: #f0d018;
}
.input-wrap {
    margin:1rem 0;
    font-size: 1.4rem;
    font-weight: 400;
}
.child-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.child-info .input-wrap input {
    width:75%;
}
.input-wrap input, textarea {
    border: none;
    color: gray;
    font-weight: 200;
    border-radius: 8px;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-weight: 300;
    resize: none;
    padding:0.5rem 1rem;

}
textarea {
    width:100%;
    padding:0.5rem;
    font-family: 'Montserrat', sans-serif;
}
select {
    border-radius: 6px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 0.5rem;
}
input:focus, textarea:focus {
    border: 0px solid rgba(0, 0, 0, 0);
}
.send-btn {
    background-color: var(--red);
}

/* Parents */
.admission-process {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
#admission .sub-header {
    margin: 3rem 0;
}
.step-bubble {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--light-blue);
    padding: 2%;
    text-align: center;
    color: white;
    transition: all 1s ease;
}
.step-bubble:hover{
    transform: scale(1.1);
}

.step-1 {background-color: var(--light-blue);}
.step-2 {background-color: rgb(247, 201, 17)}
.step-3 {background-color: rgb(2, 170, 185);}
.step-4 {background-color: rgb(79, 202, 70);}
.step-5 {background-color: rgb(247, 59, 75);}
.step-bubble h3{ font-size: 2rem;}
.admission-btn {
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    display: block;
    font-size: 2rem;
    font-weight: 100;
    background-color: var(--red);
}
.bubble-icon-wrapper{
    color: white;
    text-align: center;
    font-size: 4rem;
    margin: 2rem 0 -1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.description {
    font-size: 1.3rem;
    margin-top: 2rem;
}
.calender-img{
    width: 75%;
    margin: 10%;
    border: 10px solid var(--dark-red);
}
.calender .container {
    padding:0 10%;
}
.book img{
    width: 200px;
    border-radius: 5px;
}
#reading h3, #calender h3{
    font-size: 2rem;
    text-align: center;
    margin: 4rem 0 0;
}
iframe {
    margin-top:3rem;
}
#reading h5 {
    text-align: center;
    margin: 1rem 0 3rem;
}
.reading-container{
    width:200px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
}
.reading-container:hover {
    transform: translateY(-20px);
}
.reading-container div {
    margin-top: auto;
    text-align: center;
    font-size: 1.5rem;
}
.reading-container div:nth-child(3) {
    margin-top: 1rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
}
.books-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 4rem;
}
/* modal */
.modal{
    position: fixed;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: #00000063;
    z-index: 200;
}
/* footer */

footer {
    background-color: var(--dark-blue);
    color: var(--white);
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 10%;
}
.fa-brands {
    font-size: 2.5rem;
    transition: all 0.2s ease;
}
.fa-brands:hover {
    color:rgba(228, 228, 228, 0.459);
    cursor: pointer;
}
address a:hover{
    color:rgba(228, 228, 228, 0.459);
    cursor: pointer;
}
.footer-hours, .footer-address{
    text-align: center;
}
.footer-hours div, .footer-address div{
    margin-bottom: 0.4rem;
}
.footer-phone a:hover{
    color:rgba(228, 228, 228, 0.459);
    cursor: pointer;
}
.footer-phone {
    text-align: center;
    font-size:1.5rem;
}
footer div h5 {
    margin-bottom:0.5rem;
}